<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Page</title>
</head>
<body>
<div>
    <h2>Create</h2><br/><br/>
    <form th:action="@{/api/notices}" th:object="${noticeImageRequest}" enctype="multipart/form-data" method="post" novalidate>
        <div class="form-group">
            <p>title: <input type="text" th:field="*{title}"></p>
        </div>
        <div class="form-group">
            <p>content: <input type="text" th:field="*{content}"></p>
        </div>
        <div class="form-group">
            <p>startDateTime: <input type="datetime-local" th:field="*{startDateTime}"></p>
        </div>
        <div class="form-group">
            <p>endDateTime: <input type="datetime-local" th:field="*{endDateTime}"></p>
        </div>
        <div class="form-group">
            <p>files: <input type="file" multiple="multiple" th:field="*{files}"></p>
        </div>
        <div class="form-group">
            <button type="button" onclick="create()">Create</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<hr>

<script>
    async function create() {
        const title = document.getElementById("title").value;
        const content = document.getElementById("content").value;
        const startDateTime = document.getElementById("startDateTime").value;
        const endDateTime = document.getElementById("endDateTime").value;
        const files = document.getElementById("files").value;

        try {
            await fetch("/api/notices", {
                method: "POST",
                enctype: 'multipart/form-data',
                headers: {
                    "Content-Type": "multipart/form-data",
                },
                body: JSON.stringify({
                    title: title,
                    content: content,
                    startDateTime: startDateTime,
                    endDateTime: endDateTime,
                    files: files
                }),
            }).then((response) => {
                if (response.status === 200) {
                    location.href = "/notices"
                }
            });
        } catch (error) {
            console.log(error);
        }
    }
</script>
</body>
</html>
