<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h2>Detail Page</h2><br/><br/>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>sequence.</th>
                    <th>title.</th>
                    <th>content</th>
                    <th>createdDateTime</th>
                    <th>hit</th>
                    <th>username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="id" th:text="${noticeResponse.id}"></td>
                    <td id="title" th:text="${noticeResponse.title}"></td>
                    <td id="content" th:text="${noticeResponse.content}"></td>
                    <td id="createdDateTime" th:text="${noticeResponse.createdDateTime}"></td>
                    <td id="hit" th:text="${noticeResponse.hit}"></td>
                    <td id="username" th:text="${noticeResponse.userResponse.username}"></td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" type="button" onclick="editNotice(event)">Edit</button>
            <button class="btn btn-danger" type="button" onclick="deleteNotice(event)">Delete</button>
            <button class="btn btn-info" type="button" onclick="getNoticeList()">Back</button>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Images.</th>
                </tr>
                </thead>
                <tbody>
                <div th:if="${imageResponses.size() != 0}">
                    <tr th:each="imageResponse : ${imageResponses}">
                        <td>
                            <img class="img-responsive" th:src="|/images${imageResponse.filePath}/${imageResponse.fileName}|"/>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>

<script th:inline="javascript">
    /*<![CDATA[*/
    let noticeId = /*[[ ${noticeResponse.id} ]]*/;

    /*]]*/

    function editNotice(event) {
        event.preventDefault();
        location.href = '/notices/edit/' + noticeId;
    }

    async function deleteNotice(event) {
        event.preventDefault();
        if (confirm('정말 삭제하시겠습니까?')) {
            try {
                await fetch("/api/notices/" + noticeId, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json",
                    },
                }).then((response) => {
                    if (response.status === 204 && confirm('게시글이 삭제되었습니다')) {
                        location.href = "/notices"
                    }
                });
            } catch (error) {
                if (confirm('작성자 본인 외에는 삭제할 수 없습니다')) {
                    location.href = "/notices";
                }
            }
        }
    }

    function getNoticeList() {
        location.href = '/notices';
    }
</script>
</body>
<style>
    img {
        width: 300px;
        height: 150px;
        object-fit: cover;
    }

    @-moz-document url-prefix() {
        fieldset {
            display: table-cell;
        }
    }
</style>
</html>


