<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>
</head>
<body>
<div>
    <h2>Get List</h2><br/><br/>
    <div>
        <table>
            <thead>
            <tr>
                <th>sequence.</th>
                <th>title.</th>
                <th>content</th>
                <th>createdDateTime</th>
                <th>hit</th>
                <th>username</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${noticeList}">
                <td th:text="${notice.id}"></td>
                <td><a th:text="${notice.title}" th:onclick="|javascript:getOne('${notice.id}')|"></a></td>
                <td th:text="${notice.content}"></td>
                <td th:text="${notice.createdDateTime}"></td>
                <td th:text="${notice.hit}"></td>
                <td th:text="${notice.username}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<script>
    function getOne(noticeId) {
        location.href = '/notices/' + noticeId;
    }
</script>
</body>
<style>
    a:link {
        color: red;
        text-decoration: none;
    }

    a:visited {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        text-decoration: underline;
    }
</style>
</html>


